<% if flash[:form_errors] %>
<% # Flash can produce nested error messages, if you just do flash.each do |type, error_msg| %>
  <% flash[:form_errors].each do |error_msg| %>
    <p><%= error_msg %></p>
  <% end %>
<% end %>


<h3>Mission Form</h3>

<%= form_for @mission do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br>

Planet: <%= f.collection_select :planet_id, @planets, :id, :name %><br>

Scientist: <%= f.collection_select :scientist_id, @scientists, :id, :name %>
<%= f.submit %>
<% end %>