<%= form_for @scientist do |t| %>
    <%= t.label :name %>
    <%= t.text_field :name %><br>
    <%= t.label :field_of_study %>
    <%= t.text_field :field_of_study %><br>
    <div>
        Planet:<%= t.fields_for :planets, @scientist.planets.build do |f| %>
            <%= f.label :name %>
            <%= f.text_field :name %><br>
            <%= f.label :distance_from_earth %>
            <%= f.text_field :distance_from_earth %><br>
            <%= f.label :nearest_star %>
            <%= f.text_field :nearest_star %><br>
        <%end%>
    </div>
    <%= t.submit %>
<% end %>

